/* Max Width 768px
------------------------------------------------- */

@media screen and (max-width: 768px) {

	/* Header  */

	header {
		height: 35px;
		top: -35px;
	}

	/* Nav Desktop  */

	nav.desktop {
		display: none;
	}

	/* Nav Mobile  */

	.nav-mobile {
		display: block;
		height: inherit;
	}

	.sidenav-open-btn {
		color: #fff;
		right: 0;
		opacity: 1;
		cursor: pointer;
		padding: 0.5em 0.625em; /* 8px/16px | 10px/16px */
		-webkit-transition: opacity 0.5s ease-out 0.5s;
		transition: opacity 0.5s ease-out 0.5s;
	}

	.nav-mobile-logo {
		font-size: 1.25em; /* 20px/16px */
		color: #fff;
	}

	.js-sidenav-open-btn-is-hidden {
		opacity: 0;
	}

	/* Mobile Side Nav */

	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1200;
		top: 0;
		right: 0;
		background-color: #fff;
		background-color: rgba(255, 255, 255, 0.9);
		overflow-x: hidden;
		padding-top: 35px;
		-webkit-transition: width 0.5s ease-out;
		transition: width 0.5s ease-out;
	}

	.js-sidenav-is-visible {
		width: 250px;
	}

	.sidenav-close-btn {
		position: absolute;
		top: 0;
		right: 0;
		color: #000;
		opacity: 0;
		cursor: pointer;
		padding: 0.625em 0.75em; /* 10px/16px | 12px/16px */
		-webkit-transition: opacity 0.5s ease-out 0.5s;
		transition: opacity 0.5s ease-out 0.5s;
	}

	.js-sidenav-close-btn-is-visible {
		opacity: 1;
	}

	/* Mobile Nav  */

	nav.mobile {
		width: 250px;
	}

	nav.mobile li {
		padding: 0 2.5em; /* 30px/12px */
		font-size: 0.75em; /* 12px/16px */
		font-weight: 300;
	}

	nav.mobile a {
		padding: 1.666666666666667em 0; /* 20px/12px */
		color: #000;
		display: block;
		text-transform: uppercase;
		border-bottom: 1px solid #000;
		text-decoration: none;
	}

	/* Mobile Nav Footer */

	.mobile-nav-footer {
		width: 250px;
	  padding-top: 20px;
		text-align: center;
	}

	/* Mobile Side Nav Overlay */

	.sidenav-overlay {
		visibility: hidden;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 1100;
		top: 0;
		left: 0;
		background: #000;
		overflow-x: hidden;
		opacity: 0;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.js-sidenav-overlay-is-visible {
		visibility: visible;
		opacity: 0.8;
	}

	/* Marquee */

	.marquee {
		height: 600px;
	}

	/* Marquee Content */

	.marquee-content h1 {
		font-size: 2.25em; /* 36px/16px */
		margin-bottom: 0;
	}

	.marquee-content h2 {
		display: none;
	}

	/* Section Padding */

	.section-padding {
		padding: 50px 0;
	}

	/* Mod Spacing */

	.mod-spacing {
		margin: 50px 0;
	}

	/* Mod 1 */

	.mod-1 h2 {
		font-size: 2.25em; /* 36px/16px */
	}

	.mod-1 p {
		font-size: 1.125em; /* 18px/16px */
	}

	/* Mod 7 */

	.mod-7-primary p {
		font-size: 1em;
	}

	/* Mod 4 Primary */

	.mod-4-primary h3 {
		font-size: 1.125em; /* 18px/16px */
	}

	.mod-4-primary p {
		font-size: 1em;
	}

	.mod-4-primary ul {
		font-size: 1em;
	}

 /* Mod 5 */

 .mod-5-box {
	 padding: 0;
 }

 .mod-5-box-icon {
	 position: static;
	 text-align: center;
	 margin-bottom: 0.2083333333333333em; /* 25px/120px */
 }

 .mod-5-box h3 {
	 text-align: center;
 }

 .mod-5-box h4 {
	 text-align: center;
 }

 .mod-5-box ul {
	 font-size: 1em;
 }

 /* Mod 5 Modifiers */

 .mod-5-box.v-2 {
	 padding: 0;
	 margin-top: 50px;
 }

 .mod-5-box-icon.v-2 {
	 position: static;
	 text-align: center;
	 margin-bottom: 0.3125em; /* 25px/80px */
 }

	/* CTA */

	.cta-content p {
		font-size: 1em;
	}

}
